<div ng-controller="InterviewScheduleCtrl" ng-init="initInterviewSchedule()" style="overflow-y: auto; height: 800px;">
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Interview Schedule
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="form-group"><label class="col-sm-3 control-label">Requirement ID</label>

                                <div class="col-sm-1">
                                    <select chosen id="requirementID" class="chosen-select" style="width:170px;"
                                            tabindex="1" ng-model="requirement"
                                            ng-options="requirement.Requirement_ID for requirement in masterList">
                                    </select>
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="form-group"><label class="col-sm-4 control-label">Interview Round</label>

                                <div class="col-sm-2">
                                    <select name="interviewRound" id="interviewRound" ng-model="interviewRound">
                                        <option value="All">All</option>
                                        <option value="First">First Round</option>
                                        <option value="Second">Second Round</option>
                                        <option value="Third">Third Round</option>
                                        <option value="Fourth">Fourth Round</option>
                                        <option value="Fifth">Fifth Round</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group" id="data_5">
                                <div class="dropdown" dropdown><label class="col-sm-5">
                                    <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>
                                        Select range
                                    </a></label>
                            <span>
                                From date: {{(a|date)}} <br>
                                To Date:   {{(b|date)}}
                            </span>

                                    <div class="dropdown-menu"
                                         ng-click="$event.preventDefault();$event.stopPropagation()">
                                        <div date-range start="a" end="b"></div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-5">
                            <div class="form-group"><label class="col-sm-5 control-label">Talent Specialist</label>

                                <div class="col-sm-2">
                                    <select name="user" id="userID" ng-model="talentSpecialist">
                                        <option value="All">All</option>
                                        <option value="bhanu">Bhanu</option>
                                        <option value="bhoopalan">Bhoopalan</option>
                                        <option value="rashmi">Rashmi</option>
                                        <option value="reshma.hebbar">Reshma Hebbar</option>
                                        <option value="shamala">Shamala</option>
                                        <option value="vidyashree.naik">Vidyashree Naik</option>
                                        <option value="shubhasree.n">Subhasree Narasimhan</option>
                                        <option value="rajatha.ramesh">Rajatha Ramesh</option>
                                        <option value="swarnalatha.s">Swarnalatha S</option>
                                        <option value="shweta.singh">Shweta Singh</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary" ng-click="getInterviewSchedule()">
                                Get Interview Schedule (Client)
                            </button>
                        </div>
                        <br>
                        <br>
<!--
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary"
                                    ng-click="getInternalInterviewSchedule()">Get Interview Schedule (Internal)
                            </button>
                        </div>
                        <br>
                        <br>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary"
                                    ng-click="getINRCInterviewSchedule()">Get Interview Schedule (INRC Format)
                            </button>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <BR>
    {{scheduleTableLoadingStatus}}
    <div id="interviewScheduleTable" ng-show="activateScheduleTable"></div>
</div>
