<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" ng-show="!activateUserName">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
            </div>
            <div class="ibox-content" ng-show="!activateUserName">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-6">
                            <div class="form-group"><label class="col-sm-3 control-label">Choose User</label>
                                <div class="col-sm-2">
                                    <select name="user" id="userID" ng-model="user">
                                        <option value="snehitha.u">Snehitha U</option>
                                        <option value="sharath.kumar">Sharath Kumar A.S</option>
                                        <option value="anandkumar.ks">Anandkumar KS</option>
                                        <option value="sandeep.srinivas">Sandeep Srinivas</option>
                                        <option value="kapil.kushwaha">Kapil Kushwaha</option>
                                        <option value="aayush.chaubey">Aayush Chaubey</option>
                                        <option value="deepa.p">Deepa P</option>
                                        <option value="mayur.shet">Mayur Shet</option>
                                        <option value="vasantha.k">Vasantha</option>
                                        <option value="sreenivasulu.h">Sreenivasulu H</option>
                                        sreenivasulu.h@subhanu.com
                                        STEM Trainer
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary" ng-click="setUser()">Set User</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row" ng-show="activateUserName">
        <div class="text-center m-t-lg">
            <h1>
                {{welcomeText}}
            </h1>
            <small>
                {{welcomeDescription}}
            </small>
        </div>
        <BR>
        <BR>

    </div>
</div>