<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown ng-show="activateUserName">
                    <!-- Picture of user -->
                  <!--  <img alt="image" class="img-circle" src="img/bhanu.jpg"/>-->
                    <img alt="image" class="img-circle" src="img/{{imageName}}" height="100" width="100"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{designation}}<!--<b class="caret"></b>--></span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="img/subhanu_logo_small.jpg" />
                </div>
            </li>

            <li ng-class="{active: $state.includes('iforms')}">
                <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Internal Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('iforms')}">
                    <li ui-sref-active="active"><a ui-sref="iforms.meeting_minutes">Meeting Minutes</a></li>
                    <li ui-sref-active="active"><a ui-sref="iforms.documents_update">Activity Update</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('status_reports')}">
                <a href=""><i class="fa fa-list-alt"></i> <span class="nav-label">Internal Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('status_reports')}">
                    <li ui-sref-active="active"><a ui-sref="status_reports.tasks">Tasks Status</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.feedback">Feedback</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.meeting_report">Meeting Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.activity_report">Activity Report</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('workday')}">
                <a href=""><i class="fa fa-user"></i> <span class="nav-label">HR Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('my_reports')}">
                    <li ui-sref-active="active"><a ui-sref="workday.workday_form">Workday</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.leave_plan">Leave Plan</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.workday_report">Workday Report</a></li>



                </ul>
            </li>

        </ul>

    </div>
</nav>