<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ActivityReportCtrl">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-11">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>
                            Activity Report
                        </h1>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <div class="form-group col-sm-10"><label class="control-label">Employee</label>

                                        <div><select class="form-control m-b" name="Client" ng-model="RAPDeveloper">
                                            <option></option>
                                            <option>All</option>
                                            <option value="snehitha.u">Snehitha U</option>
                                            <option value="karthik.yjois">Karthik Y Jois</option>
                                            <option value="anandkumar.ks">Anandkumar KS</option>
                                            <option value="sandeep.srinivas">Sandeep Srinivas</option>
                                            <option value="kapil.kushwaha">Kapil Kushwaha</option>
                                            <option value="aayush.chaubey">Aayush Chaubey</option>
                                            <option value="deepa.p">Deepa P</option>
                                            <option value="mayur.shet">Mayur Shet</option>
                                            <option value="vasantha.k">Vasantha</option>
                                            <option value="sreenivasulu.h">Sreenivasulu H</option>

                                        </select></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-group col-sm-4">
                    <div class="form-group" id="data_5">
                        <div class="dropdown" dropdown><label class="col-sm-5">
                            <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>Select range</a></label>
                            <span>
                                 From date: {{(a|date)}} <br>
                                 To Date:   {{(b|date)}}
                            </span>

                            <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                <div date-range start="a" end="b"></div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-group col-sm-2">
                    <div>
                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"
                                ng-click="getActivityReportDetails()"><strong>Get Activity(s)</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="row" ng-show="activateReportTable">
    <div class="ibox-content">
    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
        <tr>

            <th>Timestamp</th>
            <th>Username</th>
            <th>Module Name</th>
            <th>Activity Category</th>
            <th>Activity Comments</th>
            <th>Time Spent</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="activity in activities">
            <td>{{activity.Timestamp | formatGoogleDate}}</td>
            <td>{{activity.Username |split:'@':0}}</td>
            <td>{{activity.Module_Name}}</td>
            <td>{{activity.Activity_Category}}</td>
            <td>{{activity.Activity_Comments}}</td>
            <td>{{activity.Time_Spent}}</td>
        </tr>
        </tbody>
    </table>
   </div>
  </div>
 </div>







