<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MeetingReportCtrl">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-11">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>
                            Meeting Report
                        </h1>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <div class="form-group col-sm-10"><label class="control-label">Employee</label>

                                        <div><select class="form-control m-b" name="Client" ng-model="RAPDeveloper">
                                            <option></option>
                                            <option>All</option>
                                            <option value="snehitha.u">Snehitha U</option>
                                            <option value="karthik.yjois">Karthik Y Jois</option>
                                            <option value="anandkumar.ks">Anandkumar KS</option>
                                            <option value="sandeep.srinivas">Sandeep Srinivas</option>
                                            <option value="kapil.kushwaha">Kapil Kushwaha</option>
                                            <option value="aayush.chaubey">Aayush Chaubey</option>
                                            <option value="deepa.p">Deepa P</option>
                                            <option value="mayur.shet">Mayur Shet</option>
                                            <option value="vasantha.k">Vasantha</option>
                                            <option value="sreenivasulu.h">Sreenivasulu H</option>

                                        </select></div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <form class="form-group col-sm-4">
                    <div class="form-group" id="data_5">
                        <div class="dropdown" dropdown><label class="col-sm-5">
                            <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>Select range</a></label>
                            <span>
                                 From date: {{(a|date)}} <br>
                                 To Date:   {{(b|date)}}
                            </span>

                            <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                <div date-range start="a" end="b"></div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-group col-sm-2">
                    <div>
                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"
                                ng-click="getMeetingReportDetails()"><strong>Get MOM(s)</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="activateMeetingTable">
        <div class="ibox-content">
            <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>

                    <th>Timestamp</th>
                    <th>Username</th>
                    <th>Meeting Date</th>
                    <th>Meeting Type</th>
                    <th>Attendees</th>
                    <th>Meeting Agenda</th>
                    <th>Tasks Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="meeting in meets">
                    <td>{{meeting.Timestamp | formatGoogleDate}}</td>
                    <td>{{meeting.Username |split:'@':0}}</td>
                    <td>{{meeting.Meeting_Date | formatGoogleDate}}</td>
                    <td>{{meeting.Meeting_Type}}</td>
                    <td>{{meeting.Attendees}}</td>
                    <td>{{meeting.Meeting_Agenda}}</td>
                    <td>{{meeting.Tasks_Actions}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>