table {
    width:50%;
}
table, th, td {
    border-style:inset;
    border-collapse: collapse;
    border-color:snow;
    font-family: "Tahoma", "sans-serif";
    color: black;
}
th, td {
    padding: 2px;
    text-align: left;
}

table#candidate-summary tr:nth-child(even) {
    background-color:#f7f7f7;
}
table#candidate-summary tr:nth-child(odd) {
    background-color: #d8e7f9;
}